<a href="https://colab.research.google.com/github/ayushgawai/Python/blob/main/07_Statements_Assessment_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [2]:
st = 'Print only the words that start with s in this sentence'

In [5]:
for letter in st.split(" "):
  if letter[0].lower() == 's':
    print(letter)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [8]:
#Code Here

for i in range(0,10):
  if i%2==0:
    print(i)

0
2
4
6
8

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [9]:
#Code in this cell
[num for num in range(1,50) if num%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [11]:
st = 'Print every word in this sentence that has an even number of letters'

In [12]:
#Code in this cell
ls = st.split(" ")
for word in ls:
  if len(word)%2==0:
    print(word)

word
in
this
sentence
that
an
even
number
of

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [16]:
#Code in this cell

for i in range(1,100):
  if i%3==0:
    print("Fizz")
  if i%5==0:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
3
4
Buzz
Fizz
6
7
8
Fizz
9
Buzz
11
Fizz
12
13
14
Fizz
Buzz
16
17
Fizz
18
19
Buzz
Fizz
21
22
23
Fizz
24
Buzz
26
Fizz
27
28
29
Fizz
Buzz
31
32
Fizz
33
34
Buzz
Fizz
36
37
38
Fizz
39
Buzz
41
Fizz
42
43
44
Fizz
Buzz
46
47
Fizz
48
49
Buzz
Fizz
51
52
53
Fizz
54
Buzz
56
Fizz
57
58
59
Fizz
Buzz
61
62
Fizz
63
64
Buzz
Fizz
66
67
68
Fizz
69
Buzz
71
Fizz
72
73
74
Fizz
Buzz
76
77
Fizz
78
79
Buzz
Fizz
81
82
83
Fizz
84
Buzz
86
Fizz
87
88
89
Fizz
Buzz
91
92
Fizz
93
94
Buzz
Fizz
96
97
98
Fizz
99

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [22]:
st = 'Create a list of the first letters of every word in this string'

In [23]:
#Code in this cell

[first_letter[0] for first_letter in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!