<a href="https://colab.research.google.com/github/ayushgawai/Python/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_dict = {"key":"value1","key":"value2","key2":"value3"}

In [ ]:
#when had duplicate only got the one value which was later one
my_dict

{'key': 'value2', 'key2': 'value3'}

In [ ]:
my_dict["key"]

'value2'

In [ ]:
my_dict["key2"]

'value3'

In [ ]:
my_dict2 = {"1key":"value1","1":"value2","key2":"value3"}

In [ ]:
my_dict2["1key"]

'value1'

In [ ]:
my_dict2

{'1key': 'value1', '1': 'value2', 'key2': 'value3'}

In [ ]:
my_dict2["1"]

'value2'

In [ ]:
my_dict2 = {"1key":"2.65",1:"value2","key2":"value3"}

In [ ]:
my_dict2[1]

'value2'

In [ ]:
my_dict2["1key"]

'2.65'

In [ ]:
my_dict3 = {"key1":[1,2,"a"],1:"a","key3":{"kk1":"kv1",1:1}}

In [ ]:
my_dict3["key3"][1]

1

In [ ]:
my_dict3["key3"]["kk1"]

'kv1'

In [ ]:
my_dict3["key3"]["kk1"].upper()

'KV1'

In [ ]:
my_dict3["key1"].append(3)

In [ ]:
my_dict3

{'key1': [1, 2, 'a', 3], 1: 'a', 'key3': {'kk1': 'kv1', 1: 1}}

In [ ]:
my_dict3["key4"] = "Ayush"

In [ ]:
my_dict3

{'key1': [1, 2, 'a', 3], 1: 'a', 'key3': {'kk1': 'kv1', 1: 1}, 'key4': 'Ayush'}

In [ ]:
my_dict3.keys()

dict_keys(['key1', 1, 'key3', 'key4'])

In [ ]:
my_dict3.values()

dict_values([[1, 2, 'a', 3], 'a', {'kk1': 'kv1', 1: 1}, 'Ayush'])

In [ ]:
my_dict2.items()

dict_items([('1key', '2.65'), (1, 'value2'), ('key2', 'value3')])

In [ ]:
ls = [1,2,3,"four"]
dictt = {}
dictt.update({"1":ls})
dictt["key5"] = ls

In [ ]:
dictt

{'1': [1, 2, 3, 'four'], 'key5': [1, 2, 3, 'four']}

Question 1 (Easy):
Write a program that takes a string as input and counts the number of occurrences of each character. Store the results in a dictionary where the keys are the characters and the values are their counts.

In [ ]:
from collections import Counter
str1 = "Hi I am Ayush I am Engineer"
Counter(str1)
mydict={}
mydict.update(Counter(str1))

In [ ]:
mydict

{'H': 1,
 'i': 2,
 ' ': 6,
 'I': 2,
 'a': 2,
 'm': 2,
 'A': 1,
 'y': 1,
 'u': 1,
 's': 1,
 'h': 1,
 'E': 1,
 'n': 2,
 'g': 1,
 'e': 2,
 'r': 1}

Write a program that takes a list of names as input and creates a dictionary where the keys are the names and the values are the lengths of the names. Implement the solution using a dictionary comprehension.

In [ ]:
my_list = ["Ayush", "Piyush", "Raghav", "Anurag", "Sonu"]
my_dict = {}
for i in my_list:
  my_dict.update({i:len(i)})
my_dict

{'Ayush': 5, 'Piyush': 6, 'Raghav': 6, 'Anurag': 6, 'Sonu': 4}

In [ ]:
my_list = ["Ayush", "Piyush", "Raghav", "Anurag", "Sonu"]

my_dict = {name:len(name) for name in my_list}
my_dict

{'Ayush': 5, 'Piyush': 6, 'Raghav': 6, 'Anurag': 6, 'Sonu': 4}

In [ ]:
my_list = ["Ayush", "Piyush", "Raghav", "Anurag", "Sonu"]
for name in my_list:
  my_dict[name] = len(name)
my_dict

{'Ayush': 5, 'Piyush': 6, 'Raghav': 6, 'Anurag': 6, 'Sonu': 4}

Write a program that takes two dictionaries as input and merges them into a single dictionary. If there are common keys between the two dictionaries, the values should be concatenated as a list in the merged dictionary. Implement the solution using dictionary operations.

In [ ]:
my_dict1 = {'Ayush': "gddd", 'Piyush': 6, 'Raghav': 6, 'Anurag': 6, 'Sonu': 4}
my_dict2 = {'Gawai': 5, 'Bansal': [1,2,3], 'Raghav': {"k1":"v1",1:1}, 'Anurag': 6, 'Sonu': 4}

for item in my_dict1:
  if item in my_dict2.keys():
    my_dict1[item] = [my_dict1.get(item),my_dict2.get(item)]
    my_dict2.pop(item)

my_dict1.update(my_dict2)
my_dict1

{'Ayush': 'gddd',
 'Piyush': 6,
 'Raghav': [6, {'k1': 'v1', 1: 1}],
 'Anurag': [6, 6],
 'Sonu': [4, 4],
 'Gawai': 5,
 'Bansal': [1, 2, 3]}

In [ ]:
my_dict1 = {'Ayush': "gddd", 'Piyush': 6, 'Raghav': 6, 'Anurag': 6, 'Sonu': 4}
my_dict2 = {'Gawai': 5, 'Bansal': [1,2,3], 'Raghav': {"k1":"v1",1:1}, 'Anurag': 6, 'Sonu': 4}

merge_dict = my_dict1.copy()

for key, value in my_dict2.items():
  if key in merge_dict:
    merge_dict[key] = [merge_dict[key],value]
  else:
    merge_dict[key] = value
merge_dict

{'Ayush': 'gddd',
 'Piyush': 6,
 'Raghav': [6, {'k1': 'v1', 1: 1}],
 'Anurag': [6, 6],
 'Sonu': [4, 4],
 'Gawai': 5,
 'Bansal': [1, 2, 3]}

Write a program that takes a list of strings as input. Your task is to create a dictionary where the keys are the unique strings from the list, and the values are the count of occurrences of each string in the list. Implement the solution using dictionary operations.

In [ ]:
my_list = ["Ayush", "Piyush", "Raghav", "Anurag", "Sonu","Sonu"]

my_dict = {}
my_dict.update(Counter(my_list))
my_dict

{'Ayush': 1, 'Piyush': 1, 'Raghav': 1, 'Anurag': 1, 'Sonu': 2}

In [ ]:
my_list = ["Ayush", "Piyush", "Raghav", "Anurag", "Sonu", "Sonu"]

my_dict ={}
for name in my_list:
  my_dict[name] = my_dict.get(name,0) + 1
my_dict

{'Ayush': 1, 'Piyush': 1, 'Raghav': 1, 'Anurag': 1, 'Sonu': 2}

Write a program that takes a list of strings as input. Your task is to create a dictionary where the keys are the strings from the list, and the values are lists of indices where each string appears in the list. Implement the solution using dictionary operations.

In [ ]:
#it will not find duplicate ones
my_list = ["Ayush", "Piyush", "Raghav", "Sonu", "Anurag", "Sonu"]


my_dict = {}
for key in my_list:
  my_dict.update({key:my_list.index(key)})
my_dict

{'Ayush': 0, 'Piyush': 1, 'Raghav': 2, 'Sonu': 3, 'Anurag': 4}

In [ ]:
from collections import defaultdict

my_list = ["Ayush", "Piyush", "Raghav", "Sonu", "Anurag", "Sonu"]
my_dict = defaultdict(list)
my_dict
for i, key in enumerate(my_list):
    my_dict[key].append(i)

my_dict.update(my_dict)
my_dict

defaultdict(list,
            {'Ayush': [0],
             'Piyush': [1],
             'Raghav': [2],
             'Sonu': [3, 5],
             'Anurag': [4]})

Given a dictionary my_dict, write a program to find the key with the maximum value in the dictionary and print it.

In [ ]:
my_dict = {'apple': 10, 'banana': 5, 'cherry': 15, 'durian': 8}

my_keys = list(my_dict.keys())
my_values = list(my_dict.values())

my_keys[my_values.index(max(my_dict.values()))]

'cherry'

In [ ]:
max(my_dict, key=my_dict.get)

'cherry'

In [ ]:
my_dict = {'apple': 10, 'banana': 5, 'cherry': 15, 'durian': 8}

# Retrieve the values from the dictionary
values = my_dict.values()

# Find the maximum value
max_value = max(values)

# Find the key corresponding to the maximum value
max_key = None
for key, value in my_dict.items():
    if value == max_value:
        max_key = key
        break

# Print the key with the maximum value
print(max_key)

[dict_keys(['apple', 'banana', 'cherry', 'durian'])]

Question: Given a list of strings fruits, write a Python program to count the frequency of each unique fruit in the list and store it in a dictionary fruit_counts. Display the fruit_counts dictionary.

In [ ]:
from collections import Counter
fruits = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple', 'apple']
dict(Counter(fruits))

# Output:
# {'apple': 4, 'banana': 2, 'orange': 1}

{'apple': 4, 'banana': 2, 'orange': 1}

Question: Given a dictionary student_scores where the keys are student names and the values are their respective scores, write a Python program to find the student with the highest score. Display the student name and their corresponding score.

In [ ]:
student_scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 96, 'Eve': 88}

max_score = max(student_scores, key=student_scores.get)

print(f"{max_score}:{student_scores[max_score]}")

# Output:
# Student with the highest score: David (96)

David:96

Given a dictionary student_grades where the keys are student names and the values are lists of their respective grades, write a Python program to calculate the average grade for each student and display the results. The average grade should be rounded to two decimal places.

In [ ]:
student_grades = {'Alice': [85, 92, 78, 89], 'Bob': [92, 88, 95, 78], 'Charlie': [78, 90, 85, 87]}
for key in student_grades:
  print(f"{key}: {(sum(student_grades[key])/len(student_grades[key])):.2f}")

# Output:
# Alice: 86.00
# Bob: 88.25
# Charlie: 85.00

Alice: 86.00
Bob: 88.25
Charlie: 85.00

In [ ]:
student_grades = {'Alice': [85, 92, 78, 89], 'Bob': [92, 88, 95, 78], 'Charlie': [78, 90, 85, 87]}
for student, grades in student_grades.items():
  average_grade = sum(grades)/len(grades)
  print(f"{student}:{average_grade:.2f}")

Alice:86.00
Bob:88.25
Charlie:85.00

Given a list of words, write a Python program to find the word with the highest frequency. If multiple words have the same highest frequency, return the word that appears first in the list.

Example:
Input: words = ['apple', 'banana', 'cherry', 'banana', 'apple', 'apple', 'durian']
Output: 'apple'

In [ ]:
from collections import Counter
words = ['apple', 'banana', 'cherry', 'banana', 'apple' 'durian']
fre = dict(Counter(words))
max(fre,key=fre.get)

'banana'

Sort dictionary based on values

In [1]:
student_scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 96, 'Eve': 88}
sort_score = sorted(student_scores, key=student_scores.get)

d = {}
for i in sort_score:
  d[i] = student_scores[i]
d

{'Charlie': 78, 'Alice': 85, 'Eve': 88, 'Bob': 92, 'David': 96}

In [ ]:
dic = {"key1":5,"key2":10,"key3":2}
dic1 = {}
for i in sorted(dic,key=dic.get):
  dic1.update({i:dic.get(i)})
  # dic1[i].update(dic.get(i))
dic1

['Charlie', 'Alice', 'Eve', 'Bob', 'David']

92