<a href="https://colab.research.google.com/github/ayushgawai/Python/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
my_list = ["1",2,"three","four"]
my_list

['1', 2, 'three', 'four']

In [3]:
#It is mutable unlike string, so we can change any element at any position
my_list[3] = 4

In [4]:
my_list

['1', 2, 'three', 4]

In [5]:
my_list.append(5)

In [6]:
my_list

['1', 2, 'three', 4, 5]

In [11]:
#second last element from list
my_list[::-1][1]

4

In [14]:
my_list.pop(1)

2

In [19]:
my_list = [1,2,3,4,"five","six",7]
num_list = [1,2,3,4,7,1,2]
char_list = ["a",'x','t',"h","5"]

In [21]:
num_list.sort()
num_list

[1, 1, 2, 2, 3, 4, 7]

In [22]:
char_list.sort()
char_list

['5', 'a', 'h', 't', 'x']

In [23]:
char_list.reverse()
char_list

['x', 't', 'h', 'a', '5']

In [24]:
my_list.reverse()
my_list

[7, 'six', 'five', 4, 3, 2, 1]

In [26]:
my_list[::-1]

[1, 2, 3, 4, 'five', 'six', 7]

In [28]:
my_list

[7, 'six', 'five', 4, 3, 2, 1]

In [38]:
my_list[4:2:-1]

[3, 4]

Write a program that takes a list of numbers as input and prints the sum of all the even numbers in the list.

In [44]:
ls = [1,2,3,4,7,6,43,8,20]
sum = 0
for i in ls:
  if i%2==0:
    sum = sum +i
sum

40

Write a program that takes a list of words as input and returns a new list containing only the words that start with the letter 'A'. Ignore case sensitivity, meaning both uppercase and lowercase 'A' should be considered.

In [46]:
ls = ["Ayush", "Akash", "Birla", "Ambani", "Steve Jobs", "anna"]
new_list = []
for i in ls:
  if i[0] == "a" or i[0] == "A":
    new_list.append(i)
new_list

['Ayush', 'Akash', 'Ambani', 'anna']

In [56]:
ls = ["Ayush", "Akash", "Birla", "Ambani", "Steve Jobs", "anna"]
new_list=[word for word in ls if word.lower().startswith("a")]
new_list

['Ayush', 'Akash', 'Ambani', 'anna']

Write a program that takes a list of integers as input and returns a new list containing only the even numbers from the original list. Implement the solution using a list comprehension.

In [57]:
num_list = [1,2,3,5,3,2,4,5,90,54,3]
even_list = [num for num in num_list if num%2==0]

In [58]:
even_list

[2, 2, 4, 90, 54]

Given a list of integers, write a program to find the maximum and minimum elements present in the list. Implement the solution using Python.

In [84]:
num_list = [1,2,3,5,3,2,4,5,90,54,3]
num_list.sort()
print(num_list[0])
num_list.reverse()
print(num_list[0])

1
90

In [85]:
num_list = [1, 2, 3, 5, 3, 2, 4, 5, 90, 54, 3]

minimum = min(num_list)
maximum = max(num_list)

print("Minimum:", minimum)
print("Maximum:", maximum)

TypeError: ignored

Write a program that takes a list of strings as input and creates a new list containing the lengths of each string. Implement the solution using a list comprehension.

In [89]:
str_list = ["Ayush", 'Gawai', "Piyush", "Raunak"]
str_length = [len(word) for word in str_list]
str_length

[5, 5, 6, 6]

Write a program that takes a list of numbers as input and removes all the duplicates, resulting in a new list with only unique elements. Implement the solution using a set.

In [2]:
num_list = [1,2,2,3,5,2,1,6,2,3]
num_set = set(num_list)
num_set

{1, 2, 3, 5, 6}

Write a program that takes a list of strings as input and concatenates them into a single string, separated by a space. Implement the solution using the join() method.

In [3]:
str_list = ["Ayush","Gawai","Data","Engineer","Nagpur"]

string = ", ".join(str_list)
string

'Ayush, Gawai, Data, Engineer, Nagpur'

Write a program that takes a string as input and checks whether it is a palindrome. A palindrome is a word, phrase, number, or other sequence of characters that reads the same forward and backward. Implement the solution using string manipulation.

In [6]:
string = "GARAG"
string == string[::-1]

True

In [12]:
string = "GARAG"
list(string) == list(reversed(string))
print(list(string))

['G', 'A', 'R', 'A', 'G']