<a href="https://colab.research.google.com/github/ayushgawai/Python/blob/main/statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program that takes an integer as input and determines whether it is an odd or even number. The program should display "Even" if the number is even, and "Odd" if the number is odd

In [8]:
#if elif else
num = 1

if num == 0:
  print("neutral")
elif num % 2 == 0:
  print("Even")
else:
  print("Odd")

Odd

In [12]:
#for loop
a=1
for i in range(5+a):
  print("hi")

hi
hi
hi
hi
hi
hi

In [25]:
#tuple unapacking
my_list = [(1,2),(3,4),(5,6),(7,8)]
print(len(my_list))
print(my_list[0][0])
for a,b in my_list:
  print(a)
  print(b)

4
1
1
2
3
4
5
6
7
8

In [42]:
#dictionary unpacking

my_dict = {"key1":1,"key2":2}

for key , value in my_dict.items():
  print(key)
  print(value)

key1
1
key2
2

In [46]:
my_dict = {"key1":1,"key2":2}

for value in my_dict.values():
  print(value)

1
2

In [48]:
my_dict = {"key1":1,"key2":2}

for key in my_dict.keys():
  print(key)

key1
key2

In [60]:
#Sorting dict based on values
my_dict = {"key1":1,"key2":2, "key3":1}
sorted_dict = {}
for key in sorted(my_dict, key=my_dict.get):
  sorted_dict[key] = my_dict[key]
sorted_dict

{'key1': 1, 'key3': 1, 'key2': 2}

In [67]:
#while loop
i =1
while (i < 10):
  print(i)
  i = i+1
else:
  print("out of loop")

1
2
3
4
5
6
7
8
9
out of loop

In [71]:
#pass
if 1>2:

SyntaxError: ignored

In [74]:
if 1>2:
  pass

In [73]:
#continue
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num % 2 == 0:
        continue  # Skip even numbers
    print(num)

1
3
5
7
9

In [77]:
#break
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numbers:
    if num % 2 == 0:
        break  # stops the look on very first even number
    print(num)

In [81]:
x = 0

while x < 5:
  if x ==2:
    break
  print(x)
  x +=1

0
1

In [83]:
#range

for i in range(3,10,2):
  print(i)

3
5
7
9

In [86]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
s = "Helloo"

for i in s:
  print(i)
  print(s.index(i))
  print(s.find(i))

H
0
0
e
1
1
l
2
2
l
2
2
o
4
4
o
4
4

In [108]:
#enumerate
s = "Helloo"
d = {}
for i,c in enumerate(s):
  d.update({i:c})
d

{0: 'H', 1: 'e', 2: 'l', 3: 'l', 4: 'o', 5: 'o'}

In [112]:
#zip

for item in zip(d.values(),d.keys()):
  print(item)

('H', 0)
('e', 1)
('l', 2)
('l', 3)
('o', 4)
('o', 5)

In [113]:
a = [1,2,3,4]
b = ['a','b','c']

for item in zip(a,b):
  print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [140]:
a = [1,2,3,4]

1 in a
5 in a

False

In [143]:
#in
tt = {"key1":1}
1 in tt.values()
"key1" not in tt.keys()

False

Write a Python program that takes two lists as input: one containing names and the other containing ages. The program should iterate over the lists using zip and enumerate simultaneously, and print the following output for each person: "Person #index: Name is age years old."

In [122]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

for (i,[name,age]) in enumerate(zip(names,ages)):
  print(f'person {i} {name} is {age} years old')

person 0 Alice is 25 years old
person 1 Bob is 30 years old
person 2 Charlie is 35 years old

Write a Python program that takes two numbers as input and performs the following tasks:

Swap the values of the two numbers using tuple packing and unpacking.
Multiply the first number by 2 and assign the result back to the first number.
Print the updated values of both numbers.
Can you write the code to solve this problem using tuple packing and unpacking concepts?

In [132]:
a = 1
b = 2

(a,b) = (b*2,a)
a
b

1

In [146]:
#importing library

from random import shuffle


my_list = [1,2,3,2,1,45,6,3,8]

shuffle(my_list)
my_list

[2, 8, 6, 3, 45, 1, 1, 3, 2]

In [149]:
from random import randint

randint(0,100)

82

In [154]:
#input

a = input("Insert number")
type(a)
float(a)
int(a)

Insert number4

4

In [4]:
#list comprehension

mystring = "Hello"

[letter for letter in mystring]

['H', 'e', 'l', 'l', 'o']

In [5]:
[letter for letter in "Ayush"]

['A', 'y', 'u', 's', 'h']

In [7]:
a=2
[num for num in range(1,10+a,2)]

[1, 3, 5, 7, 9, 11]

In [9]:
[num*a for num in range(1,10) if num%2==0]

[4, 8, 12, 16]

In [15]:
mylist = []

for x in [3,4,5]:
  for y in [10,100,1000]:
    mylist.append(x*y)
mylist

[30, 300, 3000, 40, 400, 4000, 50, 500, 5000]

In [19]:
[x*y for x in [3,4,5] for y in [10,100,1000] ]

[30, 300, 3000, 40, 400, 4000, 50, 500, 5000]